<h1 class="text-center" style="font-weight: lighter;"> My bookings </h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Event</th>
      <th scope="col">Arrival Date</th>
      <th scope="col">Departure Date</th>
      <th scope="col">Single Person Supplement</th>
      <th scope="col">Family Room</th>
      <th scope="col">Assistance Fund</th>
      <th scope="col">Donation</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @bookings.reverse.each do |booking| %>
      <% if booking.user == current_user %>
      <tr>
        <td> (to follow) </td>
        <td><%= booking.arrival %></td>
        <td><%= booking.departure %></td>
        <td><%= booking.sps %></td>
        <td><%= booking.family %></td>
        <td><%= booking.assistance %></td>
        <td><%= booking.donation %></td>
        <td>
          <%= link_to "Edit", edit_booking_path(booking) %>
          <%= link_to "Delete", booking_path(booking), method: :delete, data: { confirm: "Are you sure?"} %>
        </td>
      </tr>
      <% end %>
    <% end %>
  </tbody>
</table>