<!DOCTYPE html>
<html>
  <head>
    <title>Callacon</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    </head>

  <body>
  <nav class="navbar"> 
  <div>
    <% if current_user %>
    <span>
      Welcome, <%= current_user.username %>
      <%= link_to 'Sign Out', logout_path, class: "btn btn-danger ml-4" %> 
    </span> 
  <% else %>
    <%= link_to 'Sign Up', new_user_path, class: "btn btn-success mr-4" %>
    <%= link_to 'Sign In', new_session_path, class: "btn btn-primary" %>
  <% end %>
  </div>
</nav>

<% flash.each do |type, msg| %>
  <div class="alert alert-danger text-center mx-auto" role="alert" style="width: 98.38%;">
    <%= msg %>
  </div>
<% end %>
    <%= yield %>
  </body>
</html>
